<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <input type="submit" name="" value="submit" id ="submitbutton">
                </form>
                <table>
                    <tr><td><label for ="l-polarity">Polarity:</label></td>
                    <td><div id = "polarity"></div></td></tr>
      
                    <tr><td><label for ="l-subjectivity">Subjectivity:</label></td>
                    <td> <div id ="subjectivity"></div></td></tr>
      
                    <tr><td> <label for ="l-polarity-confidence">Polarity Confidence:</date></td>
                    <td>  <div id ="polarityCon"></div></td></tr>
                    
                    <tr> <td><label for ="l-sub-con">Subjectivity Confidence: </label></td>
                    <td>  <div id ="sub-con"></div></td></tr>
                </table>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
